# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Django / local data
*.log
db.sqlite3

# Environment variables / secrets
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
